*.[oa]
*.so
*.swp
*.pyc
m4
.deps
Makefile
*.lo
*.la
*.dirstamp
.libs
Makefile.in
config.*
configure
compile
libtool
missing
test-driver
aclocal.m4
ar-lib
depcomp
install-sh
ltmain.sh
stamp-h1
autom4te.cache
