body
{
   margin: 10px 0 10px 0;
}

#scatter-graph
{
   display : block;
}

.menu-item
{
   border-radius: 10px;
   -moz-border-radius: 10px;
   border-width: 2px;
   border-style:solid;
   border-color: #6F9669;
   float: left;
   height: 5em;
   margin: 0 0 0 1ex;
   padding: 0 0 0 0;
   background: #F2F2F2;
}

.menu-content
{
   margin: 1ex;
}

.menu-item h4
{
   border-radius-topleft: 8px;
   -moz-border-radius-topleft: 8px;
   -webkit-border-top-left-radius: 8px;
   border-radius-topright: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-right-radius: 8px;


   margin: 0 0 0.5em 0;
   padding: 0 1ex 0 1ex;
   font-size:10pt;
   background: #6F9669;
}


/* edleak */
#ws_loader ul, #ws_loader ul li
{
   margin : 0 0 0.5ex 0;
   padding-left : 0.5ex;
   padding-right : 0.5ex;
   list-style: none inside none;
}

#edkit_ws_ip
{
   width : 18ex;
   margin : 0 0.5ex 0 0;
}

#edkit_ws_duration, #edkit_ws_period, #edkit_caller_adder_id
{
   width : 7ex;
   margin : 0 0.5ex 0.5ex 0;
}



